.featured-section {
	overflow-y: hidden;
	height: 90vh;
	width: 90vw;
}

.btn {
	color: black;
	text-align: center;
	font-size: 1rem;
	width: 7rem;
	height: 3rem;
	border: 2px solid black;
}

.card-section {
	border: 1px solid black;
	width: 20%;
	height: 50vh;
}

.addCart {
	border: 1px solid black;
}
